h1 {
  font-family: impact;
}

h1, p, footer {
  text-align: center;
  margin: 1em auto;
}

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  font-family: Tahoma;
  font-size: 17;
  /*text-align: center;*/
  background-color: #9922;
}

form {
  width: 65vw;
  max-width: 500px;
  min-width: 300px;
  margin: 0 auto;
  background-color: #444444;
  color: white;
  border-radius: 8px;
}
input, textarea {
  width: 100%;
}

input[type="radio"], input[type="checkbox"] {
  width: unset;
  margin-right: 0.5em;
  margin: 0;
}

fieldset {
  border: none;
}

fieldset {
  padding-bottom: 2rem;
}

label {
  display: block;
}

select {
  width: 100%;
}

input[type="submit"] {
  width: 60%;
  display: block;
  margin: 0 auto;
}
